@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading1 {
    @apply text-lg font-bold;
  }
  .heading2 {
    @apply text-base font-bold;
  }
  .body1 {
    @apply text-base font-medium;
  }
  .body2 {
    @apply text-sm font-medium;
  }
  .body2_bold {
    @apply text-sm font-bold;
  }
  .body3 {
    @apply text-xs font-medium;
  }
  .body3_bold {
    @apply text-xs font-semibold;
  }
}

* {
  font-family: "Pretendard";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #363636;
  background-color: #fafafa;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input:focus {
  outline: none;
}

button:hover {
  opacity: 0.7;
}