@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Pretendard";
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
